/* WELCOME PAGE mobile-first*/
.page {
    font-family: 'Roboto', sans-serif;
    min-width: 330px;
}
.welcome-page-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../images/Bitmap.png);
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap-reverse;
}
.header__logger {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15%;
}
.btn__login {
    font-size: 1.3rem;
    margin-right: 2rem;
    border: none;
    background-color: none;
    color:rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
}
.btn__signup {
    font-size: 1.3rem;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
}

.header__logo {
    width: 100%;
    text-align: center;
    margin-top: 20%;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1.9px;
}
.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    margin-top: 10%;
}
.welcome-page__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1.2px;
    text-align: center;
}
.welcome-page__title {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1.1px;
    opacity: 0.7;
}
.welcome-page__btn {
    margin: 0 5%;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: 300;
}
.btn__prime {
    background-color: var(--btn-color-prime);
    color: #fff;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}
/* cards */
.cards {
    display: flex;
    flex-direction: column;
}
.cards__heading {
    text-align: center;
    font-size: 2rem;
    color: rgb(116, 110, 110);

}
.cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    border-radius: 5px;
    margin: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    padding-top: 15%;
}

.card__item__step {
    text-transform: uppercase;
    background-color: var(--btn-color-prime);
    width: 25%;
    max-width: 70px;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    border-radius: 1rem;
    font-weight: 100;
    letter-spacing: 1.7px;
}
.card__item__name {
    color: #fff;
    font-size: 2.5rem;
    width: 50%;
    line-height: 1.5rem;
}
.card__item__discriptor {
    color: #fff;
    font-weight: 100;
    opacity: 0.7;
    letter-spacing: 1.2px;
}
.card-one {
    background-image: url(../images/keys.png);
}
.card-two {
    background-image: url(../images/Step\ 2.png);
}
.card-three {
    background-image: url(../images/Step\ 3.png);
}
/* AVATARS */
.avatars{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatars__heading {
    text-align: center;
    opacity: 0.7;
    font-size: 2.2rem;
}
.avatars__section {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.avatars__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 50vh;
}
.avatars__item__photo {
    border-radius: 50%;
    position: relative;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.avatar__fav {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    position: absolute;
    top: 110px;
    left: 101px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.avatar__name {
    opacity: 0.7;
}
.avatar__about {
    text-align: center;
    width: 80%;
    color: rgb(184, 181, 181);
    font-size: 1.1rem;
    font-weight: 100;
}
.avatar__one {
    background-image: url(../images/avatar1.png);
}
.avatar__two {
    background-image: url(../images/avatar2.png);
}
.avatar__three {
    background-image: url(../images/avatar3.png);
}
.avatar__four {
    background-image: url(../images/avatar4.png);
}
.fav__one {
    background-color: var(--fav-color-red);
    background-image: url(../images/Shape.svg);
}
.fav__two {
    background-color: var(--fav-color-yellow);
    background-image: url(../images/camera.svg);
}
.fav__three {
    background-color: var(--fav-color-blue);
    background-image: url(../images/brush.svg);
}
.fav__four {
    background-color: var(--fav-color-purple);
    background-image: url(../images/plane.svg);
    background-size: 70%;
}
.avatars__btn {
    width: 70%;
    background-color: transparent;
    border: 3px solid var(--btn-color-prime);
    color: var(--btn-color-prime);
    border-radius: 2em;
    margin: 0 5%;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
}
/* ACTIVITIES */
.activities {
    display: flex;
    flex-direction: column;
}

.activities__heading {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 1rem;
}

.activities__steck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 1rem;
    border-radius: 0.5em;
}

.activities__dscr {
    color: #fff;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.166);
}

.act-one {
    background-image: url(../images/act_1.png);
}

.act-two {
    background-image: url(../images/act_2.png);
}

.act-three {
    background-image: url(../images/act_3.png);
    text-align: center;
}

.act-four {
    background-image: url(../images/act_5.png);
}

.act-five {
    background-image: url(../images/act_6.png);
}

.act-six {
    background-image: url(../images/act_7.png);
}

.act-seven {
    background-image: url(../images/act_8.png);
}

/* CREATE */
.create {
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
}

.create__heading {
    margin: 1rem 0;
    width: 50%;
    text-align: center;
    opacity: 0.8;
}

.create__dscr {
    margin: 1rem 0;
}

.create__lbl__input {
    width: 100%;
    height: 2rem;
    border-color: rgba(116, 110, 110, 0.454);
    border-radius: 0.3em;
    opacity: 0.7;
    padding-left: 1em;
}

.btn__submit {
    width: 100%;
    padding: 0.7rem;
    margin: 1rem 0;
    cursor: pointer;
}

/* FOOTER */
.footer {
    margin-top: 1rem;
    height: 40vh;
}

.footer__brakeline {
    width: 100%;
    height: 2px;
    background-color: var(--fav-color-red);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    text-transform: uppercase;
    color: var(--fav-color-red);
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 1.3px;
}

.footer__lbl {
    font-weight: bold;
}

.footer__company {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.footer__company__list {
    color: rgba(116, 110, 110, 0.386);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 2rem;
    width: 50%;
}

.footer__company__list li {
    margin: 5px;
}

.footer__designed {
    margin: 1rem 0;
    background-image: url(../images/footer_log.svg);
    width: 110px;
    height: 24px;
}